* {
	font-family: sans-serif;
	margin: 0;
	padding 0;
	box-sizing: border-box;
}

header {
	background-color: #7A001B;
	height: 70px;
	color: aliceblue;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	display: flex;
	position: relative;
	height: calc(100vh - 70px);
}
.btn {
	padding: 10px 12px;
	background-color: #C63E29;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	z-index: 10;
}
main > div {
	margin: 0 10px;
}

.left-side {
	margin-left: 30px;
	font-weight: 600;
}
.navLinks {
	display: flex;
	list-style: none;
}
.navLinks a{
	color: inherit;
	margin: 0 20px;
	transition: 0.3s color;
	text-decoration: none;
}
.navLinks a:hover {
	color: antiquewhite
}
main {
	padding: 30px;
}
.card {
	position: relative;
}

.card__image {
	width: 100%;
}
.card__image img {
	width: 100%;
}
.card__title {
	background-color: #7A001B;
	color: aliceblue;
	padding: 20px;
	font-size: 23px;
}
.card__details {
	padding: 30px;
	background-color: antiquewhite;
	
}
.card__details p {
	margin: 10px 0;
	font-size: .8em
}
.card__btns {
	text-align: center;
}
.card__btns a{
	display: inline-block;
	padding: 10px 8px;
	text-decoration: none;
	color: aliceblue;
	background-color: #7A001B;
	font-size: .9em;
}
.card__btns a:nth-child(1), .card__btns a:nth-child(2) {
	background-color: #C63E29;
}
.card--1 {
	z-index: 3;
}

.card--2 {
	transform: translateX(-100%);
	opacity: 0;
	transition: 1s all;
}

.card--3 {
	transform: translateX(-100%);
	transition: 1s all;
}
.btn:active ~ .card--2 {
	transform: translateX(0%);
	opacity: 1;
}
.btn:active ~ .card--3 {
	transform: translateX(0%);
}


























